<h1>All Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="ID">ID</th>
      <th scope="Name">Name</th>
      <th scope="Email">Email</th>
      <th scope="role">Role</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%=index+1%></td>
        <td><%=user.name%></td>
        <td><%=user.email%></td>
        <td><%=user.role%></td>
        <td><%= link_to "Edit", edit_user_path(user)%></td>
        <td><%= button_to "Delete", user_path(user), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<%= link_to "Create", new_user_path%>
